.container {
    max-width: 65%;
    //min-width: fit-content;
    height: auto;
    margin: 10vh auto 10vh;

    display: flex;
    gap: 0;

    padding: 2rem;
    box-shadow: 1px 1px 20px 1px rgba(200, 200, 200, 0.47);
    border-radius: 7px;

    .image {
        object-fit: cover;
        border-radius: 5px;
        max-width: 60%;
    }
}
