.container {
    display: flex;
    width: fit-content;
    max-width: 65%;
    height: 80vh;
    margin: 10vh auto 10vh;

    padding: 2rem;
    box-shadow: 1px 1px 20px 1px rgba(200, 200, 200, 0.47);
    border-radius: 7px;

    .image {
        object-fit: cover;
        border-radius: 5px;
        max-width: 70%;
    }
}
