@use '../../utils/colors.module.scss' as colors;

.landingPage {
    //display: flex;
    justify-content: center;
    width: 65%;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;

    h1 {
        text-align: center;
        padding: 4rem 1rem 1rem 1rem;
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
        font-size: 4rem;
        background: -webkit-linear-gradient(colors.$light-green, colors.$dark-green);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    p {
        text-align: center;
        font-size: 1.1rem;
    }
}