@use '../../utils/colors.module.scss' as colors;

.landingPage {
    justify-content: center;
    width: 65%;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 2rem;

    h1 {
        padding: 4rem 1rem 1rem 1rem;
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
        background: -webkit-linear-gradient(colors.$light-green, colors.$dark-green);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    p {
        text-align: center;
        font-size: 1.1rem;
        line-height: 1.5rem;
        font-weight: 400;
    }
}