@use '../../utils/colors.module.scss' as colors;

.infoCard {
    width: fit-content;
    height: fit-content;

    //change this to center properly
    margin: 0 auto 0;
    padding: 1rem 3rem;

    border: 1px solid colors.$gray;
    border-radius: 5px;

    .title {
        text-align: center;
        font-size: 3rem;
        font-weight: 500;
        color: colors.$dark-gray;
        margin: 1rem;
    }

    .caption {
        font-size: 1.25rem;
        font-weight: 500;
        color: colors.$dark-gray;
        margin-bottom: 1rem;
    }

    .featuresTitle {
        font-size: 1rem;
        color: colors.$dark-gray;
    }

    .feature {
        font-size: 1rem;
        color: colors.$dark-gray;
    }

    .score {
        font-size: 1rem;
        span {
            font-size: 2rem;
            font-weight: bold;
            color: colors.$dark-green;
        }
    }
}
