@use '../../utils/colors.module.scss' as colors;

.infoCard {
    width: fit-content;
    height: fit-content;

    //change this to center properly
    margin: 0 auto 0;
    padding: 0 3rem;

    .title {
        font-size: 3rem;
        font-weight: 500;
        color: colors.$dark-gray;
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
        line-height: 3rem;
        padding: 1.5rem 0;
    }

    .caption {
        font-size: 1.1rem;
        color: colors.$light-gray;
        text-overflow: ellipsis;
        max-lines: 3;
        margin-bottom: 1.75rem;
    }

    .featuresTitle {
        font-size: 1.4rem;
        font-weight: 500;
        color: colors.$black;
    }

    .features {
        padding: 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        row-gap: 0.25rem;
        column-gap: 0.4rem;

        .feature {
            display: inline-flex;
            list-style-type: none;

            width: fit-content;

            font-size: 0.9rem;
            font-weight: 600;
            color: colors.$dark-green;

            border: 2px solid colors.$dark-green;
            border-radius: 11px;
            padding: 0.25rem 0.4rem;
        }
    }

    .score {
        font-size: 1rem;
        padding-top: 1.75rem;

        span {
            font-size: 2rem;
            font-weight: bold;
            color: colors.$dark-green;
            font-family: 'Poppins';
        }
    }
}
