.imageGrid {
    max-width: 814px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 0 auto;
    row-gap: 3rem;
    column-gap: 2rem;

    .title {
        padding: 3rem 1rem 1rem;
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
        text-align: left;
        font-size: 3rem;
        background: -webkit-linear-gradient(
            colors.$light-green,
            colors.$dark-green
        );
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
