.imageUploader {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding: 3rem;
    
    box-shadow: 1px 1px 20px 1px rgba(200, 200, 200, 0.47);
    border-radius: 7px;
    
}
